@use "@ezycore/ui/src/components/atoms/Typo/Heading/Heading" as *;
@use "@ezycore/ui/src/theme/tokens" as *;
.h1,
h1 {
  font-family: $font-family-primary;
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-primary);
  margin-bottom: 2rem;

  @media (min-width: $sm) {
    font-size: 3.6rem;
  }

  @media (min-width: $md) {
    font-size: 4.4rem;
  }
}

.h2,
h2 {
  font-family: $font-family-primary;
  font-size: 2.2rem;

  @media (min-width: $sm) {
    font-size: 2.2rem;
  }

  @media (min-width: $md) {
    font-size: 2.4rem;
  }
}

.h3,
h3 {
  font-size: 2rem;
  font-family: $font-family-primary;
  @media (min-width: $md) {
    font-size: 2rem;
  }
}

.h4,
h4 {
  font-family: $font-family-primary;
  font-size: 2rem;
}

.h5,
h5 {
  font-family: $font-family-primary;
  font-size: 1.2rem;
}

.h6,
h6 {
  font-family: $font-family-primary;
  font-size: 1.2rem;
}

.cite {
  font-size: 3rem;
  font-style: italic;
  line-height: 3.4rem;
}

.text {
  font-family: $font-family-primary;
  font-size: 1.4rem;
  line-height: 2.4rem;

  &-big {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  &-small {
    font-size: 1rem;
  }

  &-center {
    text-align: center !important;
  }

  &-left {
    text-align: left !important;
  }

  &-right {
    text-align: right !important;
  }
}

.upc {
  text-transform: uppercase;
}

.lwc {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

strong {
  font-weight: 700;
}

.strong-medium {
  font-weight: 500;
}

a {
  appearance: none;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    appearance: none;
    text-decoration: none;
  }
}

.fancy-title {
  color: var(--color-primary);
  font-family: $font-family-primary;
  font-size: 5rem;
  line-height: normal;
  padding: 0;
  width: 100%;
  text-align: center;

  @media (min-width: $sm) {
    font-size: 6.5rem;
  }

  @media (min-width: $md) {
    font-size: 8rem;
  }
}

.font-primary {
  font-family: $font-family-primary;
}

.font-primary-medium {
  font-family: $font-family-primary;
}

.font-secondary {
  font-family: $font-family-secondary;
}

.font-secondary-light {
  font-family: $font-family-primary;
}

.style-title {
  font-family: inherit;
  font-weight: $font-weight-medium;
}

strong,
b {
  font-weight: $font-weight-medium;
}

.barre {
  text-decoration: line-through;
}

.body-regular {
  font-size: 1.6rem;
}

.body-large {
  font-size: 1.8rem;
}

.body-small {
  font-size: 1.4rem;
}

.green {
  color: var(--color-primary);
}
.orange {
  color: var(--color-secondary);
}
