@use "@ezycore/ui/src/assets/styles/tokens" as *;
.btn {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  width: auto;

  &--primary {
    font-family: $font-family-primary;
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 10rem;
    color: var(--color-white);
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: var(--color-primary);

      a {
        color: var(--color-primary);
      }
    }
  }

  &--secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-family: $font-family-primary;
    background-color: transparent;
    font-size: 2rem;
    outline: none;
    padding: 01rem 3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &-light {
      border: 1px solid var(--color-white) !important;
      color: var(--color-white);
      text-transform: none;
      font-family: $font-family-secondary;
      font-weight: 700;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-white);
        color: var(--color-tertiary);
      }
    }
  }

  &--tertiary {
    position: relative;

    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--color-primary);

    a {
      color: inherit;
      transition: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      a {
        color: var(--color-tertiary);
      }
    }

    &::after {
      background-color: var(--color-tertiary);
      bottom: -0.2rem;
      content: "";
      height: 0.2rem;
      left: 0;
      position: absolute;
      transition: all 0.2s ease;
      width: 0;
      border-radius: 1rem;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &--link {
    color: var(--color-primary);
    position: relative;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: var(--color-secondary);
    }
  }

  &--arrow {
    background-color: var(--color-secondary);
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-primary);
    }

    .icon {
      fill: var(--color-white);
    }
  }
}
