@use "@ezycore/ui/src/assets/styles/tokens/space" as sp;

[type="checkbox"] {
  border: 1px solid var(--color-gray-500);
  width: sp.$space-4;
  height: sp.$space-4;
  background-color: var(--color-gray-200);
  border-radius: 3px;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:checked {
    &:after {
      content: "";
      width: sp.$space-2;
      height: sp.$space-2;
      background-color: var(--color-gray-500);
      position: absolute;
      border-radius: 3px;
    }
  }
}
