.ui-radio {
  border: 1px solid #666;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:checked {
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #666;
        position: absolute;
        border-radius: 10px;
      }
    }
  }
}
