// Border radius
$radius-none: 0 !default;
$radius-sm: 2px !default;
$radius-md: 4px !default;
$radius-lg: 8px !default;
$radius-xl: 16px !default;
$radius-2xl: 24px !default;
$radius-full: 9999px !default;
