// Z-index
$z-index-auto: auto !default;
$z-index-0: 0 !default;
$z-index-10: 10 !default;
$z-index-50: 50 !default;
$z-index-100: 100 !default;
$z-index-500: 500 !default;
$z-index-1000: 1000 !default;
$z-index-modal: 1050 !default;
$z-index-popover: 1100 !default;
$z-index-tooltip: 1200 !default;
