@use "@ezycore/ui/src/theme/mixins/media" as *;
.debug-bar {
  position: fixed;
  bottom: 0;
  background-color: var(--color-gray-700);
  width: 100%;
  padding: 1rem 0;
  color: var(--color-white);

  &__items {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;

    @include up(sm) {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
    strong {
      font-weight: 700;
      margin-right: 1rem;
    }
  }
}
