@font-face {
  font-display: swap;
  font-family: "Amatic";
  font-style: normal;
  font-weight: normal;
  src: url("@ezycore/ui/assets/fonts/Amatic/AmaticSC-Regular.ttf")
    format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Amatic";
  font-style: normal;
  font-weight: 700;
  src: url("@ezycore/ui/assets/fonts/Amatic/AmaticSC-Bold.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("@ezycore/ui/assets/fonts/Poppins/Poppins-Thin.ttf")
    format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("@ezycore/ui/assets/fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("@ezycore/ui/assets/fonts/Poppins/Poppins-Bold.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: url("@ezycore/ui/assets/fonts/gilroy/Gilroy-Light.otf");
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("@ezycore/ui/assets/fonts/gilroy/Gilroy-ExtraBold.otf");
}
