@use "@ezycore/ui/src/assets/styles/tokens" as *;
html {
  font-family: $font-family-primary;
  font-size: 62.5%;
  text-size-adjust: 100%;
  color: var(--color-primary);
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 2rem;
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.page-content {
  margin: auto;
  max-width: 1200px;
  padding-bottom: 5rem;
  width: 100%;
}

.lg-thumb-item {
  border: none !important;
}

a {
  color: inherit;
}
