@forward "@ezycore/ui/src/assets/styles/reset";
@forward "@ezycore/ui/src/assets/fonts/fonts";
@forward "@ezycore/ui/src/assets/styles/tokens";
@forward "@ezycore/ui/src/assets/styles/themes";
@forward "@ezycore/ui/src/assets/styles/globals";
@forward "@ezycore/ui/src/assets/styles/utilities";
@forward "@ezycore/ui/src/assets/styles/tools";

@forward "@ezycore/ui/src/assets/styles/components";
@forward "@ezycore/ui/src/assets/styles/modules";
