@use "sass:map";
@use "@ezycore/ui/src/theme/tokens/breakpoints" as *;

@mixin up($bp-name) {
  @media (min-width: map.get($breakpoints, $bp-name)) {
    @content;
  }
}

@mixin down($bp-name) {
  @media (max-width: map.get($breakpoints, $bp-name)) {
    @content;
  }
}
