@use "@ezycore/ui/src/assets/styles/tokens/shadows" as *;
.input {
  position: relative;

  &__inner {
    color: var(--color-primary);
  }
  &__label {
    position: absolute;
    z-index: 2;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    top: -0.9rem;
    left: 2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  &__field {
    position: relative;
  }
  &__icon {
    position: absolute;
    right: 2rem;
    height: 100%;
    top: 0;

    .icon {
      color: var(--color-primary);
    }
  }
}

input {
  border: 2px solid var(--color-quaternary);
  display: block;
  width: 100%;
  border-radius: 10rem;
  outline: none;
  height: 4rem;
  padding: 0 2rem;

  &:focus {
    outline: none;
    box-shadow: $shadow-sm;
  }
}
