.error-layout {
  height: calc(100%);
  position: relative;
  margin-top: 50px;

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__image {
    max-width: 600px;
  }

  &__message {
    margin-top: 2rem;
    text-align: center;
  }
}
