@use "@ezycore/ui/src/assets/styles/tokens" as *;
.input {
  position: relative;

  &__required {
    color: var(--color-danger);
    padding-right: 2px;
  }

  &__error {
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 20px;
    color: var(--color-danger);
  }
  &--text,
  &--password {
    margin-bottom: 1rem;
    .input {
      &__inner {
        color: var(--color-primary);
        padding-top: 1rem;
      }
      &__label {
        &-text {
          position: absolute;
          z-index: 2;
          background-color: var(--color-white);
          display: flex;
          align-items: center;
          top: 0rem;
          left: 2rem;
          font-size: 1rem;
          padding: 0 0.5rem;
        }
      }
      &__field {
        position: relative;

        input {
          border: 2px solid var(--color-quaternary);
          display: block;
          width: 100%;
          border-radius: 10rem;
          outline: none;
          height: 4rem;
          padding: 0 2rem;

          &:focus {
            outline: none;
            box-shadow: $shadow-sm;
          }
        }
      }
      &__icon {
        position: absolute;
        right: 2rem;
        height: 100%;
        top: 0;

        .icon {
          color: var(--color-primary);
        }
      }
    }
  }

  &--checkbox,
  &--radio,
  &--switch {
    .input {
      &__label {
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        font-size: 1rem;
      }
      &__field {
        input {
          border: 1px solid var(--color-primary);
          width: 1.6rem;
          height: 1.6rem;
          background-color: var(--color-primary);
          position: relative;
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:after {
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: var(--color-quaternary);
            position: relative;
            display: none;
          }

          &:checked {
            &:after {
              display: flex;
            }
          }
        }
      }
    }
  }

  &--radio {
    .input {
      &__field {
        input {
          border-radius: 1rem;

          &:checked {
            &:after {
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }

  &--switch {
    .input {
      &__field {
        input {
          width: 4rem;
          height: 2rem;
          border-radius: 1rem;
          justify-content: flex-start;
          position: relative;
          opacity: 0.6;
          transition: all 0.2s ease;

          &:after {
            position: absolute;
            display: block;
            border-radius: 1rem;
            width: 1.4rem;
            height: 1.4rem;
            left: 0.4rem;
            transition: all 0.2s ease;
          }
          &:checked {
            opacity: 1;
            &:after {
              left: calc(100% - 1.8rem);
            }
          }
        }
      }
    }
  }

  input::selection {
    background-color: var(--color-quaternary);
  }
}
