@use "@ezycore/ui/assets/styles/tokens" as *;
.logo {
  &-title {
    background: linear-gradient(
      184deg,
      #fff 3.41%,
      rgba(255, 255, 255, 0) 125.01%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-icon {
    img {
      height: 100%;
    }
  }
}
