@forward "@ezycore/ui/src/assets/styles/components/atoms";
@forward "@ezycore/ui/src/assets/styles/components/molecules";
@forward "@ezycore/ui/src/assets/styles/components/organisms";
@forward "@ezycore/ui/src/assets/styles/components/templates";
@forward "@ezycore/ui/src/assets/styles/components/layout";
