@use "sass:map";
$space-0: 0 !default;
$space-1: 0.25rem !default;
$space-2: 0.5rem !default;
$space-3: 0.75rem !default;
$space-4: 1rem !default;
$space-5: 1.25rem !default;
$space-6: 1.5rem !default;
$space-8: 2rem !default;
$space-10: 2.5rem !default;
$space-12: 3rem !default;
$space-16: 4rem !default;
$space-20: 5rem !default;
$space-24: 6rem !default;
$space-32: 8rem !default;

$spaces: (
  0: $space-0,
  1: $space-1,
  2: $space-2,
  3: $space-3,
  4: $space-4,
  5: $space-5,
  6: $space-6,
  8: $space-8,
  10: $space-10,
  12: $space-12,
  16: $space-16,
  20: $space-20,
  24: $space-24,
  32: $space-32,
);

@function space($key) {
  @if map.has-key($spaces, $key) {
    @return map.get($spaces, $key);
  }

  @warn "⚠️  space(#{$key}) no existe en la escala definida.";
  @return null;
}
