@use "@ezycore/ui/src/assets/styles/tokens" as *;
.h1,
h1 {
  font-family: $font-family-primary;
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-primary);
  margin-bottom: 2rem;

  @media (min-width: $sm) {
    font-size: 3.6rem;
  }

  @media (min-width: $md) {
    font-size: 4.4rem;
  }
}

.h2,
h2 {
  font-family: $font-family-primary;
  font-size: 2.2rem;

  @media (min-width: $sm) {
    font-size: 2.2rem;
  }

  @media (min-width: $md) {
    font-size: 2.4rem;
  }
}

.h3,
h3 {
  font-size: 2rem;
  font-family: $font-family-primary;
  @media (min-width: $md) {
    font-size: 2rem;
  }
}

.h4,
h4 {
  font-family: $font-family-primary;
  font-size: 2rem;
}

.h5,
h5 {
  font-family: $font-family-primary;
  font-size: 1.2rem;
}

.h6,
h6 {
  font-family: $font-family-primary;
  font-size: 1.2rem;
}
